.mb10 {
  margin-bottom: 10px;
}

.mt10 {
  margin-top: 10px;
}

.m10 {
  margin: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mt20 {
  margin-top: 20px;
}

.is-marginless {
  margin: 0;
}

.is-bold {
  font-weight: 600;
}

textarea.not-resizable {
  resize: none;
}