ul.alert {
  padding-left: 25px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: #fff;
}

.nav-tabs {
  border-bottom: 0;
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
  }
  .navbar-header .collapse, .navbar-toggle {
    display: block !important;
  }
  .navbar-header {
    float: none;
  }
}

.alertify-notifier {
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 1.1em;
  text-shadow: none;
}

.alertify-notifier .ajs-message.ajs-success {
  background-color: $brand-primary;
  border: 1px solid darken($brand-primary, 7%);
}

.alertify-notifier .ajs-message.ajs-error {
  background: $brand-danger;
  border: 1px solid darken($brand-danger, 7%);
}

.alertify-notifier .ajs-message.ajs-warning {
  background: $brand-warning;
  border: 1px solid darken($brand-warning, 7%);
}

.alertify-notifier.ajs-bottom {
  bottom: 30px;
}

.datepicker {
  border-radius: 0 !important;
}

.input-sm {
  border-radius: 0;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}